*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav:after {
    content: "";
    display: table;
    clear: both;
}

/***********************************
TAG
***********************************/

/***********************************
ID
***********************************/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
main{
    margin-top: 50px;
}

nav{
    padding: 10px;
    background-color: #fff;
}
img{
    max-width: 100%;
}

/* Grandezza titoli */
h1{
   font-size: 77px; 
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
h4,
h5{
    font-size:16px;
}

/***********************************
CLASSI
***********************************/

/* Container */
.container{
    width: 1010px;
    margin: 0 auto;
}
.container-large{
    width: 1367px;
    margin: 0 auto;
}

/* Colori Background */
.bg-primary{
    background-color: #b4d0e7;
}
.bg-dark{
    background-color: #000;
}

/* Colori Testi */
.color-violet{
    color: #61082b;
}
.color-grey{
    color: #637381;
}


/* Colonne */

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col_"] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.col_1_9 {
    width: calc(100% / 9);
}

.col_2_9 {
    width: calc(100% / 9 * 2);
}

.col_3_9 {
    width: calc(100% / 9 * 3);
}

.col_4_9 {
    width: calc(100% / 9 * 4);
}

.col_5_9 {
    width: calc(100% / 9 * 5);
}

.col_6_9 {
    width: calc(100% / 9 * 6);
}
.col_9_9 {
    width: 100%;
}

/* Header */

.header__sx,
.header__dx{
    float: left;
    width: 50%;
}

.header__sx ul,
.header__dx ul{
    list-style: none;
    display: inline-block;
}

.header__sx ul li,
.header__dx ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header__logo,
.header__menu1{
    display: inline-block;
    vertical-align: middle;
}

.header__menu2{
    text-align: right;
}
.header__menu2 li:last-child a{
    background-color: #0061ff;
    color: #fff;
    padding: 5px 10px;
}
nav a,
nav a:hover,
nav a:focus{
    color: #000;
    text-decoration: none;
}

/* Hero Section */

.herosection__space{
    position: relative;
    top: 100px;
}
.herosection h1{
    padding-bottom: 48px;
    line-height: 1em;
}
.herosection__text{
    padding-bottom: 24px;
}
.herosection .btn{
    margin-bottom: 12px;
}

/* Tabella Prezzi */
.price{
    margin-top: 148px;
}
.price .price__box{
    border: 1px solid #efefef;
    min-height: 960px;
}
.price .price__box--hauto{
    min-height: auto;
}
.price .price__header{
    text-align: center;
    border-bottom: 1px solid #efefef;
    padding: 5px;
}
.price .price__title,
.price .price__description{
    padding: 20px;
}
.price .price__title h3,
.price .price__title h4,
.price .price__description h5{
    padding-bottom: 12px;
}
.price .price__description ul{
    list-style: none;
    color: #637381;
    padding-bottom: 48px;
    padding-left: 20px;
}
.price .price__description ul li{
    margin: 10px 0;
}
.price .price__description ul li i{
    margin-left: -20px;
    color: #0061ff;
}
.price .price__description .btn{
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}
.price .price__description hr{
    margin: 24px 0;
    width: 20%;
    border-top: 1px solid #637381;
}

/* General */
.btn{
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
}
.btn-primary{
    background-color: #0061ff;
    color: #fff;
}

/* Utility */
.pt96{
    padding-top:96px;
}
.pb24{
    padding-bottom: 24px;
}
.mb24{
    margin-bottom: 24px;
}
